#welcome {
    text-align: center;
    margin-left: 50px;
    color: #FFD700;
    margin-top: 100px;
}

#nav {
    text-align: center;
    overflow: hidden;
    margin: 0px;
}

#nav a {
    padding: 26px 28px;
    color: #FFD700;
    font-size: 25px;
    text-decoration: none;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 50px;
}

body {
    background-color: #5D3FD3;
}

#potya {
    margin-top: 0px;
}

#pg {
    font-size: 23px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    text-align: center;
}

#question {
    font-family: 'Bebas Neue', cursive;
    color: #FFD700;
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
}

#audio {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
}